.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .login-form input {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background: #007bff;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background: #0056b3;
  }
  

  .login-text{
    color:#0056b3 ;
  }

  .redirect-text{
    color: #0056b3; 
  }